<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<div class="header display">
    <div class="bookstore_logo">
        <a class="bookstore_logo_font" data-th-href="@{/catalogue/books/list}">Bookstore</a>
    </div>
    <div class="bookstore_tab">
        <a class="bookstore_tab_authors" data-th-href="@{/catalogue/authors/list}">Authors</a>
        <a class="bookstore_tab_books" data-th-href="@{/catalogue/books/list}">Books</a>
    </div>
    <div class="bookstore_status_button">
        <a data-th-href="@{/catalogue/menu}">
            <button class="status_button">Admin</button>
        </a>
    </div>
</div>

<div class="main_books_page display">
    <div class="books_page_info">
        <div class="books_page_info_title">Books</div>
        <div class="books_page_filter">
            <form method="get" data-th-action="@{/catalogue/books/list}">
                <label>
                    <input class="input_filter" type="text" name="filter" placeholder="Input Book's Title" data-th-value="${filter}">
                    <button class="filter_button" type="submit">Search</button>
                </label>
            </form>
        </div>
    </div>
    <div class="books_cells">
        <div class="cell1" th:each="book : ${books}">
            <a data-th-href="@{/catalogue/books/{bookId}(bookId=${book.id})}">
                <div class="book_image">
                    <img class="book_photo" th:src="@{/image/books/{image}(image=${book.image})}" alt="#">
                </div>
                <div class="book_name"><span class="book_name_text" data-th-text="${book.title()}"></span></div>
                <div class="book_author">
                    <span class="book_author_text">By &nbsp;</span>
                    <span class="book_author_text" data-th-text="${book.author().name()}"></span>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="footer display">

    <div class="footer_rights_mark">© 2024 Brand All Rights Reserved</div>

    <div class="footer_links">

        <div class="footer_icons">
            <a href="#">
                <img th:src="@{/image/logo/facebook.svg}" alt="#">
            </a>
        </div>
        <div class="footer_icons">
            <a href="#">
                <img th:src="@{/image/logo/instagram.svg}" alt="2">
            </a>
        </div>
        <div class="footer_icons">
            <a href="#">
                <img th:src="@{/image/logo/pinterest.svg}" alt="3">
            </a>
        </div>
        <div class="footer_icons">
            <a href="#">
                <img th:src="@{/image/logo/twitter.svg}" alt="4">
            </a>
        </div>




    </div>
</div>
</body>

</html>
